.details-btn{
    transition: 500ms;
    align-self: flex-end;
}

.details-btn:focus {
    outline: none;
}

.details-btn-close {
    transform: rotate(180deg);
}

.details-container {
    transition: 500ms; 
    width: 100%;
    height: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.details-container-open {
    height: 350px;
}

@media screen and (max-width: 778px) {
    .details-container-open {
        height: 500px;
    }
}

@media screen and (max-width: 423px) {
    .details-container-open {
        height: 750px;
        /* overflow-y: scroll; */
    }
}

